<!--Author: Darren Lean-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Title-->
    <title>Lattice Vibrations (plotly)</title>
    <!--css links-->
    <link href="styles/style.css" rel="stylesheet">
    <link href="styles/skeleton.css" rel="stylesheet">
    <link href="styles/index_Style.css" rel="stylesheet">
    <link href="styles/loadout_Style.css" rel="stylesheet">
    <!--Required JS resources-->
    <script src="https://unpkg.com/vue@2.3.3/dist/vue.js"></script>
    <script src="scripts/debounce_and_throttle.js"></script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            extensions: ["tex2jax.js"],
            jax: ["input/TeX", "output/HTML-CSS"],
            tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true
            },
            "HTML-CSS": { fonts: ["TeX"] }
        });
    </script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML"></script>
</head>

<body>
<div id="app">
    <!--   Title of non-current sections to appear on hovering above respective number in navbar     -->
    <div id="hoverTitleSpace" :style="{left: mouseX +'px'}" v-show="hoverTitle !== false">
        {{hoverTitle}}
    </div>
    <!--    Left Side of Window - containing mainly text    -->
    <div class="vis-container left" id="left-container">
        <!--     Dynamic Navigation Bar and Section Headings       -->
        <div class="" id="progress-container">
            <!--    Dynamic Section Heading Text - overlaid on meters    -->
            <!--    Also act as buttons to navigate between sections    -->
            <!-- Remember to change all the numbers when adding sections -->

            <div class="" id="overlay" @mousemove="hoverTitle !== false ? updateMouseX($event) : ''">
                <button :class="[currentTitle === 1 ? 'activeButton' : '', 'overlay-button']" id="sectionTitle1"
                        key="sectionTitle1" data-no=1 @click="scrollTo($event)" @mouseover="hoverPosUpdate($event); selectHover();" @mouseout="hoverTitle=false">{{sectionTitle[0]}}
                </button>
                <button :class="[currentTitle === 2 ? 'activeButton' : '', 'overlay-button']" id="sectionTitle2"
                        key="sectionTitle2" data-no=2 @click="scrollTo($event)" @mouseover="hoverPosUpdate($event); selectHover();" @mouseout="hoverTitle=false">{{sectionTitle[1]}}
                </button>
                <button :class="[currentTitle === 3 ? 'activeButton' : '', 'overlay-button']" id="sectionTitle3"
                        key="sectionTitle3" data-no=3 @click="scrollTo($event)" @mouseover="hoverPosUpdate($event); selectHover();" @mouseout="hoverTitle=false">{{sectionTitle[2]}}
                </button>
                <button :class="[currentTitle === 4 ? 'activeButton' : '', 'overlay-button']" id="sectionTitle4"
                        key="sectionTitle4" data-no=4 @click="scrollTo($event)" @mouseover="hoverPosUpdate($event); selectHover();" @mouseout="hoverTitle=false">{{sectionTitle[3]}}
                </button>

            </div>
            <!--    Dynamic meters indicating progress through each section    -->
            <meter :class="[currentTitle === 1 ? 'activeMeter' : '']" id="m1" :min="sectionTops[0]"
                   :max="sectionBottoms[0]" :value="scrollPos"></meter>
            <meter :class="[currentTitle === 2 ? 'activeMeter' : '']" id="m2" :min="sectionTops[1]"
                   :max="sectionBottoms[1]" :value="scrollPos"></meter>
            <meter :class="[currentTitle === 3 ? 'activeMeter' : '']" id="m3" :min="sectionTops[2]"
                   :max="sectionBottoms[2]" :value="scrollPos"></meter>
            <meter :class="[currentTitle === 4 ? 'activeMeter' : '']" id="m4" :min="sectionTops[3]"
                   :max="sectionBottoms[3]" :value="scrollPos"></meter>

            <div id="banner-dummy"></div>
        </div>
        <!--    Container for text content split into sections    -->
        <div class="journey" id="main-journey" @scroll.passive="scrollFunc">
            <!--    Section Text Containers   -->
            <div class="section-container" id="sc1">
                <div class="placeholder" id="ph1">
                    <hr>
                    <h2 class="text section-head" id="s1">
                        {{sectionTitleLong[0]}}
                    </h2>
                    <hr>
                </div>
                <!--  Functionality 1 : change the right side within the section-->
                <div class="text section-body odd" id="p1">
                    <p>
                        Given some solid, how can we model sound waves moving through it?
                    </p>
                    <p>
                        Let us assume that this is a simple solid, made of identical atoms spaced evenly.
                        We know that atoms in a solid lattice are held together by binding forces, for example ionic, covalent and metallic bonds.
                        The Mie potential shown on the right is generally a good model for binding forces in solids.
                    </p>
                    <p>
                        Let us model the binding forces using springs. 
                        We model all atoms as connected to only their nearest neighbours by identical springs.
                        This model is accurate in the small displacement limit, that is the low temperature limit.
                    </p>
                    <p>
                        Let's explore this model. 
                        We will start considering the simple case of a one dimensional lattice, building up the theory. 
                        Here we will develop the concept of the first Brillouin Zone and how energy moves through the solid in the form of waves.
                        Then we will look at a two dimensional lattice and consider transverse and longitudinal waves passing through the solid.
                        We will continue to three dimensional solids for completeness.
                    </p>
  
</div></div>


            <div class="section-container" id="sc2">
                <div class="placeholder" id="ph2">
                    <hr>
                    <h2 class="text section-head" id="s2">
                        {{sectionTitleLong[1]}}
                    </h2>
                    <hr>
                </div>
                <!--  Functionality 2: section with 3 tabs-->
                <div class="text section-body odd" id="p2">

                        <p>
                            We start with the one dimensional case: 
                            imagine having a chain of identical atoms.
                            We then approximate their interactions to only be with nearest neighbours.
                            We do this by saying that neighbouring atoms are connected by springs, all of which are identical.
                        </p>
                        <p>
                            The solution to this model is most easily dealt with when the infinite lattice approximation is made.
                            This is where we approximate the solid size as much larger than the maximum displacement of individual atoms.
                            This is physically acceptable as in reality, atom movements in solids are much smaller than the size of the solids.
                        
                            The most general solution is
                            $$ u_n(t) = Re \sum_{k}\tilde{u}_k e^{i(nka-\omega_kt)} .$$
                        
                            This is a sum of an arbitrary number of waves, each with their own wavevector.                
                            $u_n$ is the displacement of the $n^{th}$ atom from its equilibrium position
                            and
                            $k$ is the wavevector of the incoming wave.
                            (Derivation is available at the end of this suite under the 'Derivation' button.)
                        </p>
                        <p>
                            Here we simulate for a single $k$:
                            $$ u_n(t) = u_k \cos(nka-\omega_kt)$$
                        
                            For any given $k$:
                            $$ \omega_k = 2 \omega_D \left| \sin \left( \frac{k a}{2} \right) \right|$$
                            where
                            $$ \omega_D = \sqrt{\frac{\kappa}{m}}$$
                            $\kappa$ is the spring constant,
                            $m$ is the mass of a single atom,
                            $a$ is the atomic spacing
                            and
                            $\omega_D$ is also known as the Debye frequency.
                            Here, we assume $a = \omega_D = 1$ and $\tilde{u}_k$ has zero phase for simplicity.
                        </p>  
                        <p>
                            $u_k$ is the amplitude of the response of the individual atoms to wave mode $k$.
                            Notice that the overall motion is unaffected if $2n \pi$ for any integer $n$ is added to $k$.
                            Mathematically, this is due to the factor $e^{i2n\pi} = 1$ in the general solution.
                            Physically, it makes sense due to the given trigonometric dispersion relation for $\omega_k$ - 
                            $k + 2n\pi$ has the same energy as $k$. 
                            (Try adding integer multiple of 2 to the $d$ value!)
                        </p>
                        <p>
                            For the upcoming visualisations, we will ignore this redundancy by taking 
                            $-\pi \lt ka \leqslant \pi $, known as the first Brillouin Zone. 
                            This applies to components in the higher dimensions too.
                        </p>
                        <p>                            
                            Also notice that when $d \to \pm 1$, there are two standing waves. 
                            Neighbouring atoms move in anti-phase.
                            (Reduce $u_k$ to see this effect better.)
                        </p>
                </div>
            </div>

            <div class="section-container" id="sc3">
                <div class="placeholder" id="ph3">
                    <hr>
                    <h2 class="text section-head" id="s3">
                        {{sectionTitleLong[2]}}
                    </h2>
                    <hr>
                </div>
                <!--  an example section with content and 2 tabs-->
                <div class="text section-body odd" id="p3">
                    <p>
                        Now consider an infinitely wide sheet of identical atoms.

                        The most general solution is:
                        $$ \textbf{u}_n(t) = Re \sum_{\textbf{k}}\tilde{\textbf{u}}_\textbf{k} e^{i(\textbf{k} \cdot \textbf{R}_n - \omega_\textbf{k} t)} $$
                        
                        where
                        $\textbf{u}_n$ is the displacement of the $n^{th}$ atom and $\textbf{R}_n$ is the lattice site that atom,
                        and
                        $\textbf{k}$ is the wavevector of each incoming wave.
                    </p>
                    <p>
                        We simulate for a single $\mathbf{k}$:
                        $$ \textbf{u}_n(t) = \textbf{u}_\textbf{k} \cos(\textbf{k} \cdot \textbf{R}_n - \omega_k t)$$

                        For any given $\mathbf{k}$:
                        $$ \omega^2_{\mathbf{k}} = 4 \omega^2_D \left[ \sin^2 \left(\frac{k_x a}{2} \right) + \sin^2 \left(\frac{k_y a}{2} \right) \right]$$
                        where
                        $$ \omega_D = \sqrt{\frac{\kappa}{m}}$$
                        $\kappa$ is the spring constant,
                        $m$ is the mass of a single atom,
                        $a$ is the atomic spacing
                        and
                        $\omega_D$ is also known as the Debye frequency.
                        We also assume $a = \omega_D = 1$ and $\tilde{\textbf{u}}_\textbf{k}$ has zero phase for simplicity.
                    </p>
                    <p>
                        We also trace the wave, which travels at phase velocity $\mathbf{v}=\frac{\mathbf{k}}{w}$.
                    </p>
                    <p>
                        $\textbf{u}_k$ represents the response of the individual atoms to wave $\textbf{k}$.
                        Notice that $|\textbf{k} \cdot \textbf{u}_k|$ and $|\textbf{k} \times \textbf{u}_k|$
                        determine the type of wave: longitudinal, transverse or a combination of both. 
                        Try making $|\textbf{k} \cdot \textbf{u}_k| = 0 $ or $|\textbf{k} \times \textbf{u}_k| = 0 $.
                        What are the types of wave you see in these respective cases?
                    </p>  
                </div>
            </div>

            

            <div class="section-container" id="sc4">
                <div class="placeholder" id="ph4">
                    <hr>
                    <h2 class="text section-head" id="s4">
                        {{sectionTitleLong[3]}}
                    </h2>
                    <hr>
                </div>
                <!--  functionality 3: button with dropdown contents-->
                <div class="text section-body odd" id="p4">
                    <p>
                        Finally, we look at a three dimensional infinite crystal lattice.
                        This simulation is meant for completeness. 
                        The colour coding here is to track layers of atoms.
                        If this looks confusing for you, you may wish to return to the two dimensional case as it encompasses all the essentials of physics involved.
                    </p>
                    <p>A reminder of the general solution:
                        $$ \textbf{u}_n(t) = Re \sum_{\textbf{k}}\tilde{\textbf{u}}_\textbf{k} e^{i(\textbf{k} \cdot \textbf{R}_n - \omega_\textbf{k} t)} $$
                        For a single $\mathbf{k}$:
                        $$ \textbf{u}_n(t) = \textbf{u}_k \cos(\textbf{k} \cdot \textbf{R}_n-\omega_k t)$$

                        For any given $\mathbf{k}$:
                        $$ \omega^2_{\mathbf{k}} = $$
                        $$ 4 \omega^2_D \left[ \sin^2 \left(\frac{k_x a}{2} \right) + \sin^2 \left(\frac{k_y a}{2} \right) + \sin^2 \left(\frac{k_z a}{2} \right) \right]$$

                        where all the symbols have the same meanings as before.
                    </p>
                    <p>
                        The types of waves available are still longitudinal, transverse or a combination of both.
                        This is indicated by $|\textbf{k} \cdot \textbf{u}_k|$ and $|\textbf{k} \times \textbf{u}_k|$.
                    </p>
                    <button @click="displayOrHide">Derivation</button>
                    <div id="dropdown-content" style="display: none">
                        <p>
                            <br>
                            We first consider the one dimensional case of an infinite chain of identical atoms.
                            Let us label the atoms by an integer index $n$, with positions $x_{n}(t)$ at time $t$.
                            Let the mass of the individual atoms be $m$ and the equilibrium spacing be $a$ so that 
                            their equilibrium positions are $x^{eqm}_{n} = n a$.
                            Denote the displacement of the $n^{th}$ atom as $u_{n}(t)$ so that
                            $$u_{n}(t) = x_{n}(t) - n a$$
    
                            There are two approximations that we are taking: <br>
                            1. Small oscillations that allows simple harmonic approximation for the potential <br>
                            2. Interactions with only the nearest neighbours
                            <br><br>
                            The potential is central so we can write the total potential energy in the system as
                            $$ V_{tot} = \frac{\kappa}{2} \sum_{n} (u_{n+1} - u_{n})^{2} $$
                            
                            This can be interpreted as a chain of balls connected by springs obeying Hooke's Law with spring constant $\kappa$.
                            <br><br>
                            The net force on the $n^{th}$ atom is 
                            $$ F_{n} = - \frac{\partial V_{tot}}{\partial x_{n}} = \kappa (u_{n+1} + u_{n-1} - 2u_n) $$
                            since, by chain rule, $\frac{\partial }{\partial x_{n}} = \frac{d u_n}{d x_n} \frac{\partial }{\partial u_{n}} = \frac{\partial }{\partial u_{n}}$.
                            <br><br>
                            By Newton's second law, we have the equation of motion in terms of the displacement $u_n$:
                            $$ m \frac{d^2 u_n}{d t^2} = \kappa (u_{n+1} + u_{n-1} - 2u_n) $$ 
                            for each $n$.
                            <br><br>
                            This equation of motion takes the form of eigenfunction so we can try the solution
                            $$ u_n(t) = \tilde{u}_k e^{i(nka - \omega t)} $$
                            with the wavevector $k$ and frequency $\omega$.
                            We will later find out the relationship between $k$ and $\omega$ called the dispersion relation or frequency spectrum
                            and hence label $\omega = \omega_k$.
                            <br><br>
                            Due to the linearity of the equation of motion, we can make use of the Principle of Superposition to give a trial general solution
                            $$ u_n(t) = Re \sum_{k}\tilde{u}_k e^{i(nka-\omega_kt)} .$$
                            
                            Substituting the trial solution into the equation of motion gives 
                            $$ -m \omega^2 \tilde{u}_k e^{i(nka-\omega_kt)} = $$
                            $$ \kappa \tilde{u}_k e^{i(nka-\omega_kt)} (e^{ika} + e^{-ika} - 2) $$    
    
                            This must hold for all atoms $n$ and at all times $t$ so we can take out the common factor of $ e^{i(nka-\omega_kt)} $.
                            Since $ \tilde{u}_k = 0 $ corresponds to no motion at all, we must have a non-zero $ \tilde{u}_k $, which we can divide out.
                            We arrive at the dispersion relation for monatomic chain:
                            $$ \omega^2_k = \frac{2 \kappa}{m} (1-\cos ka) = 4 \omega^2_D \sin^2 \left( \frac{k a}{2} \right) $$
                            with
                            $$ \omega_D = \sqrt{\frac{\kappa}{m}}.$$
                            The dispersion relation is more conventionally written as 
                            $$ \omega_k = 2 \omega_D \left| \sin \left( \frac{k a}{2} \right) \right|$$
                            This derivation can be extended to higher dimensions.
                        </p>
                    </div>
                </div>
            </div>




        </div>
    </div>
    <!--    Right Side of Window - containing mainly interactive and visual content    -->
    <div class="vis-container right" id="right-container">
        <!--    Title Banner above Right Side    -->
        <div class="banner">
            <!--    Visualisation Title    -->
            <h1 class="" id="vis-title">
                Lattice Vibrations
            </h1>
            <a href="https://www.imperialvisualisations.com/learn/">
                <img id="vis-logo" src="./assets/VisualisationsLogoWhite2.png">
            </a>
        </div>
        <!--    Space into which visualisations are loaded    -->
        <div id="rightloadSpace">
        <!--    fade transition tag for RHS - applied by Vue and CSS    -->
        <transition-group name="fade" tag="div" class="transition-container">
            <!--    Interactive Zone Containers   -->
            <div class="rightload" id="loadwait" key="loadwait" v-if="true">
                <!-- loading circle background-->
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            </div>
            <div class="rightload text odd" id='loadout1' key="loadout1" v-if="currentSection === 1">
                <div class="rightload text" id='loadout1sub1' key="loadout2sub1"
                         v-if="subSection[0] === 1">
                        <!--  add iframe link to the file here-->
                    <iframe src="./plotlyscripts/Introright.html" style="width: 67vw; height: 96vh"></iframe>


                </div>

            </div>
            
            <div class="rightload text odd" id='loadout2' key="loadout2" v-if="currentSection === 2">


                    <!--Interactive Zone Sub Containers-->
                    <div class="rightload text" id='loadout2sub1' key="loadout2sub1"
                         v-if="subSection[1] === 1">
                        <iframe src="./plotlyscripts/1Dright.html" style="width: 67vw; height: 96vh"></iframe>


                    </div>

            </div>

            <div class="rightload text even" id='loadout3' key="loadout3" v-if="currentSection === 3">

                <!--Interactive Zone Sub Containers-->
                <div class="rightload text" id='loadout3sub1' key="loadout3sub1"
                     v-if="subSection[2] === 1">

                    <iframe src="./plotlyscripts/2Dright.html" style='width: 100%; height: 100%'></iframe>



                </div>


            </div>

            <div class="rightload text even" id='loadout4' key="loadout4" v-if="currentSection === 4">

                    <!--Interactive Zone Sub Containers-->
                    <div class="rightload text" id='loadout4sub1' key="loadout4sub1"
                         v-if="subSection[3] === 1">
                         <iframe src="./plotlyscripts/3Dright.html" style='width: 100%; height: 100%'></iframe>
                    </div>

            </div>




        </transition-group>
    </div>
    </div>

</div>
</body>

<script src="scripts/nav_Script.js"></script>

</html>